<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Prognoza Pogody</title>
</head>
<body>
    <h1>Witaj w aplikacji pogodowej</h1>
    <form action="/wyniki" method="POST" class="form-container">
        <label for="miasto">Miasto:</label>
        <input type="text" id="miasto" name="miasto" required><br><br>

        <input type="submit" value="Sprawdź pogodę">
    </form>
</body>
</html>
